h1 {
  margin-bottom: 4%;
  letter-spacing: 5px;
}

.well {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #000000;
}

p {
  margin: 5% 5% 5% 5%;
  font-size: 20px;
  color: #c7c8c9;
}

#photo {
  text-align: center;
}

img {
  width: 30%;
}
